<div class="container notes-container" id="notes_container"></div>


<style>
    .container.notes-container
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 80vw;
        margin-top: 35px;
    }
</style>