---
const {title} = Astro.props

import '../css/style.css'
import Header from '../components/Header.astro'
import NotesContainer from '../components/NotesContainer.astro'
import AddNoteButton from '../components/AddNoteButton.astro'
import CreateNoteModal from '../components/CreateNoteModal.astro'
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e05f21b32e.js" crossorigin="anonymous"></script>
    <title>{title}</title>
</head>
<body>
    <Header/>
    <NotesContainer/>
    <AddNoteButton/>
    <CreateNoteModal/>
</body>
</html>